* {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

#head {
    background-color: blueviolet;
    padding: 1em;
    font-size: 2em;
}

#selectionDisplay {
    display: flex;
}

.liveDisplay {
    border-style: solid;
    border-radius: .2em;
    margin: 0 3em;
    height: 150px;
    width: 150px;    
}

#scoreDisplay {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    padding: .1em;
    font-size: 4em;
}

#playerScore {
    padding: 0 2em;
}

#computerScore {
    padding: 0 2em;
}

#playSpace {
    display: flex;
}

.textDisplay {
    padding: 0 1em;
    font-size: 2em;
}

#buttons {
    background-color: chartreuse;
    padding: 2em;
}

.button {
    margin: 0 3em;
}

#rockButton {
    height: 110px;
}

