* {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

#head {
    background-color: blueviolet;
    padding: 1em;
    font-size: 2em;
}

#selectionDisplay {
    display: flex;
}

#playerSelection, #computerSelection {
    border-style: solid;
    border-radius: .2em;
    margin: 0 3em;
    height: 150px;
    width: 150px;    
}

.Rock {
    border-style: solid;
    border-radius: .2em;
    margin: 0 3em;
    height: 150px;
    width: 150px;
    background-image: url("images/icons8-hand-rock-100.png");
    background-repeat: no-repeat;
    background-position: center;
}

.Paper {
    border-style: solid;
    border-radius: .2em;
    margin: 0 3em;
    height: 150px;
    width: 150px;
    background-image: url("images/icons8-hand-100.png"); 
    background-repeat: no-repeat;
    background-position: center; 
}

.Scissors {
    border-style: solid;
    border-radius: .2em;
    margin: 0 3em;
    height: 150px;
    width: 150px;
    background-image: url("images/icons8-hand-scissors-100.png");  
    background-repeat: no-repeat;
    background-position: center;
}


#scoreDisplay {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    padding: .1em;
    font-size: 4em;
}

#playerScore {
    padding: 0 2em;
}

#computerScore {
    padding: 0 2em;
}

#playSpace {
    display: flex;
}

.textDisplay {
    padding: 0 1em;
    font-size: 2em;
}

#buttons { /* for the parent container(buttons) */
    background-color: chartreuse;
    padding: 1em;
}

.buttonClass {
    margin: 0 3em;
}

.buttonClass:hover {
    transform: scale(1.2);
}

#rockButton {
    height: 110px;
}

#resultsPage {
    font-size: 3rem;
    padding: 2rem;
    font-weight: bold;
}

#finalScore {
    font-size: 2rem;
    padding: 2rem;

}

#reset {
    font-size: 2rem;
    padding: .5rem;
    background-color: rgb(85, 201, 85);
    border-radius: .3em;
    font-weight: bold;

}

.hidden {
    display: none;
}

